<div class="utility-wheel uw-hidden">
  <div>
    <div class="uw-section-target uw-top"></div>
    <div class="uw-section-target uw-bottom"></div>
    <div class="uw-section-target uw-left"></div>
    <div class="uw-section-target uw-right"></div>
  </div>
  <div>
    <div class="uw-section-content uw-top"></div>
    <div class="uw-section-content uw-bottom"></div>
    <div class="uw-section-content uw-left"></div>
    <div class="uw-section-content uw-right"></div>
  </div>
  <div class="uw-circle-indicator"></div>
</div>
